/* || VARIABLE INITALIZATION */

 :root {
  --color-1: #1B190F;
  --color-2: #423E2C;
  --color-3: #DEDCD5;
  --color-4: #f9f9f9;
  --color-white: #f9f9f9;
  --base-height: 6em;
}

/* || GENERAL STYLES */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Futura PT';
  background-color: var(--color-4);
  color: var(--color-1);
  font-size: 100%;
}

body {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  margin: 0;
  height: 100%;
}

header {
  grid-template-rows: 40em;
  background-color: var(--color-1);
  z-index: 2;
}

nav {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: center;
  height: var(--base-height);
  background-color: var(--color-1);
  z-index: 10;
}

main {
  background-color: transparent;
  height: 80em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



ul {
  width: 33%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

h1 {
  color: var(--color-4);
  font-weight: 600;
  /*348px*/
  font-size: 22em;
  /*tweak to get the text exactly aligned with bottom of header div*/
  line-height: 1.615em;
  text-align: center;
}

h2 {
  color: var(--color-4);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  font-size: 96px;
  color: #1b190f;
}

h4 {
  font-size: 2em;
  font-weight: 600;
}

p {
  
}

a {
  text-decoration: none;
  color: var(--color-4);
  font-size: 24px;
  font-weight: 700;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 2em;
  margin: 0px;
  background-color: transparent;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* || UTILITIES */

/* || NAVBAR CLASSES */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.contact-container {
  padding-right: 9%;
}

.logo-container {
  width: 7.5em;
  height: 7.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 9%;
}

/* || 
TEXT CLASSES */


#hero-section {
  left: 0;
  width: 100%;
  background-image: url("https://assets.codepen.io/7691942/Home-Hero.svg");
  background-color: transparent; /* Used if the image is unavailable */
  height: 85em; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* || MAIN CLASSES */

.hero-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 4px;
  height: 4em;
  background-color: transparent;
  padding: 0 1em 0 1em;
}

.button-right {
  position: relative;
  left: -.24em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 4px;
  height: 4em;
  width: 4em;
  background-color: transparent;
}
/* || FOOTER CLASSES */
footer {
  background-image: url("https://assets.codepen.io/7691942/Home-Footer.svg");
  left: 0;
  width: 100%;
  background-color: transparent; /* Used if the image is unavailable */
  height: 85em; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#footer-section {
  background-color: var(--color-white);
  width: 100%;
  height: var(--base-height);
}

#contact-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.contact-links {
  padding-left: calc(var(--base-height)/2);
}
/* || 12 COLUMN GRID SETUP*/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
}

[class*="col-"]  {
  /*put anything you need for ALL column classes here*/
}
.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}