html, body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #f9f9f9;
  
  
  font-family: Futura;
}
header {
  disply: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 45em;
  background: #46BD9B;
}

.hero-background {
  border-left: 100vw solid #79CAB5;
  border-bottom: 20em solid transparent;
  height: 45em;
}

.footer-background {
  border-left: 100vw solid #E2F2ED;
  border-top: 20em solid transparent;
  height: 25em;
}

.half-circle-horizontal {
  display: flex;
  flex-direction: column;
}
.half-circle-vertical {
  display: flex;
  flex-direction: row;
}
.half-circle-top {
    width: 200px;
    height: 100px; /* as the half of the width */
    background-color: gold;
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
    border-bottom: 0;
}

.half-circle-bottom {
    width: 200px;
    height: 100px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border-bottom: 0;
}
.half-circle-right {
    width: 100px;
    height: 200px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-left-radius: 110px; /* 100px of height + 10px of border */
    border-bottom: 0;
}

.half-circle-left {
    width: 100px;
    height: 200px; /* as the half of the width */
    background-color: gold;
    border-top-right-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
    border-bottom: 0;
}
